<div class="jumbotron mt-3">
    <div class="jumbotron bg-dark mt-4">
    <h1 class="display-4 text-center"> About</h1>
    <p class="lead text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa, quaerat! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, rerum!</p>
</div>