<div class="jumbotron mt-3">
    <h1 class="display-4 text-center"> About</h1>
    <p class="lead text-center">Visit my <a href="https://github.com/stylessh/" target="_blank">Github</a> here for more proyects!</p>
    <hr>
    <p class="lead text-center">Or visit my <a href="https://stylessh.me/" target="_blank">Website</a></p>
</div>