<div class="jumbotron mt-3 text-center">

    <h1 class="display-4"> Notes App with Node.js and MongoDB</h1>
    <p class="lead">This is my first application with passport.js, i hope you like it!</p>
    <hr>
    <a href="https://stylessh.me/" class="btn btn-primary btn-lg">Stylessh Web</a>

</div>