<div class="jumbotron mt-3">
    <div class="jumbotron bg-dark">
    <h1 class="display-4"> Notes App with Node.js and MongoDB</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa, quaerat!</p>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam repudiandae exercitationem velit? Dicta reprehenderit ad obcaecati et veritatis minus placeat eos. A totam, nulla explicabo minus fuga quo unde voluptas?</p>
    <a href="https://stylessh.me/" class="btn btn-primary btn-lg">Stylessh Web</a>
</div>
</div>